.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}
  
.modal {
  width: 90%;
  max-width: 900px;
  max-height: 800px;
}

.close {
  font-size: 30px;
  position: absolute;
  top: 30px;
  right: 40px;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  transition: opacity 200ms linear;

  &:hover {
    opacity: 1;
  }
}